.movieDetails {
  display: flex;
  color: white;
  flex-flow: column;
  text-align: center;
  margin: 10px;
}

.divImage {
  align-self: center;
  width: 30%;
}

.divLinks {
  display: flex;
  justify-content: center;
  margin: 2%;
}
